.about{

    background-color:White;
    display: flex;

    .left{
        flex: 0.5;
        overflow: hidden;
        
        .imgContainer{
            width: 800px;
            height: 800px;
            background-color: rgb(119,123,147);
            // border-radius: 50%;
            // border-bottom-left-radius: 100%;
            // border-top-right-radius: 100%;


            display: flex;
            align-items: flex-end;
            float: right;

            img{
                float: right;
                height:100%;
            }
        }


    }

    .right{
        flex: 0.5;


        .wrapper{

            padding-top: 70px;
            width: 100%;
            height: calc(100% - 70px);
            padding-left: 50px;
            display: flex;
            flex-direction: column;

            h1{
                font-size: 60px;
                margin: 10px 0;
            }
            h2{
                font-size: 35px;
            }
            h3{
                font-size: 30px;
            }
            p{
                font-size: 20px;
                padding-top: 10px;
                font-family: inherit; 
            }
            .desc{
                padding-top: 40px;
            }
        }
    }
}